.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 500px;
  height: 280px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center ;

  mat-form-field {
    width: 100%;
  }

}
