.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2a2c41;
  border-radius: 4px;
  padding: 0 10px;
  background-color: #f4f4f8;
  margin-top: 15px;
  cursor: default;
}

.item p {
  margin-bottom: 0;
  width: 100%;
}

.no-pay {
  background-color: #ff724c;
}

.pay {
  background-color: #35d04f;
}
