<div [class]="['items', payment]">

  <div class="item day">
    <p>{{data.date}}</p>
  </div>

  <div class="item company">
    <p>{{data.company}}</p>
  </div>

  <div class="item dish">
    <p>{{data.dish}}</p>
  </div>

  <div class="item price">
    <p>{{data.price}}</p>
  </div>

  <div class="item payment" [ngSwitch]="payment">
    <p *ngSwitchCase="'pay'">Zapłacono</p>
    <p *ngSwitchCase="'no-pay'">Nie zapłacono</p>
    <p *ngSwitchDefault>W realizacji</p>

  </div>

  <div class="item show-more">
    <button
      mat-icon-button
      color="primary"
      aria-label="Pokaż więcej informacji odnośnie zamówienia"
      matTooltip="Więcej informacji"
      matTooltipPosition="below">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>

</div>
