<div class="items">

  <div class="item company">
    <p>Pan obiadek</p>
  </div>

  <div class="item dish">
    <p>Danie dnia</p>
  </div>

  <div class="item price">
    <p>20.00 zł</p>
  </div>

  <div class="item pay">
    <p>Zapłacono</p>
  </div>

  <div class="item show-more">
    <button
      mat-icon-button
      color="primary"
      aria-label="Pokaż więcej informacji odnośnie zamówienia"
      matTooltip="Więcej informacji"
      matTooltipPosition="below">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>

</div>
