.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
}

a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: black;
  font-size: 16px;

  margin-top: 10px;

  width: 100%;
  height: 48px;
  padding: 0 16px;
}

a:first-child {
  border-bottom: 1px solid #555555;
  justify-content: center;
  margin-top: 0;
}

a:hover:first-child {
  background-color: unset;
}

a:hover {
  background-color: #fdbf50;
  cursor: pointer;
}

